## Sniper Bot Config without copy trade

# General
COUNTER_LIMIT=9
TOKEN_AMOUNT=0.002

# Execution
SLIPPAGE=4000
TRANSACTION_LANDING_SERVICE=1
SELLING_UNIT_PRICE=4100000
SELLING_UNIT_LIMIT=2200000
ZERO_SLOT_TIP_VALUE=0.0025

# Sniper Triggers
FOCUS_DROP_THRESHOLD_PCT=0.15
FOCUS_TRIGGER_SOL=1.0

# Selling Strategy
TAKE_PROFIT=8.0
STOP_LOSS=-2
MAX_HOLD_TIME=3600
DYNAMIC_RETRACEMENT_PERCENTAGE=15
RETRACEMENT_PNL_THRESHOLD=15
RETRACEMENT_THRESHOLD=15
MIN_LIQUIDITY=4

# Dynamic Trailing Stop
TRAILING_STOP_ACTIVATION_PERCENTAGE=20.0
TRAILING_STOP_TRAIL_PERCENTAGE=10.0
DYNAMIC_TRAILING_STOP_THRESHOLDS=20:5,50:10,100:30,200:100,500:100,1000:100

# RPC
RPC_HTTP=https://rpc.shyft.to?api_key=YOUR_API_KEY
RPC_WSS=wss://mainnet-fra.fountainhead.land/
YELLOWSTONE_GRPC_HTTP=https://grpc.ny.shyft.to
YELLOWSTONE_GRPC_TOKEN=YOUR_GRPC_TOKEN

# ZeroSlot Configuration
ZERO_SLOT_URL=http://ny1.0slot.trade/?api-key=YOUR_API_KEY
ZERO_SLOT_HEALTH=https://ny1.0slot.trade/health
ZERO_SLOT_TIP_VALUE=0.00015
JITO_TIP_VALUE=0.001

# Wallet Configuration
PRIVATE_KEY=YOUR_PRIVATE_KEY_HERE
WRAP_AMOUNT=0.5  # 0.12 sol 